.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}